<div class="w-full flex flex-col items-center min-h-screen">
    <img class="w-44 md:w-64" src="chef.png" alt="cachorro salsicha com uma panela e uma colher, batendo um creme" />
    <h1 class="text-[36px] md:text-[50px] font-bold text-center">cachurros chef</h1>
    <span>receitinhas do cachurros sarsinha</span>

    <div class="grid lg:grid-cols-4 grid-cols-1 sm:grid-cols-2 gap-5 mt-20">
        @for (recipe of recipes; track recipe.attributes.slug) {
            <a class="max-w-[300px] p-5 border border-white hover:bg-gray-800" [routerLink]="['/recipes/', recipe.attributes.slug]">
                <h2 class="text-xl md:text-2xl font-bold">{{ recipe.attributes.title }}</h2>
                <span class="text-sm md:text-lg">{{ recipe.attributes.description }}</span>
            </a>
        }
    </div>

    <span class="mt-32 bg-gradient-to-r from-red-600 via-yellow-500 to-green-400 inline-block text-transparent bg-clip-text">em breve mais receitas!</span>
</div>